.get-started {
    position: relative;
    text-align: center;
    background-image: url('../../assets//bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:hsl(257, 27%, 26%);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    color:white;
}


.getStartedstyling {
    margin: 0;
}

@media screen and (min-width:768px) {
    .get-started  {
        margin-top: 3rem;
        background-image: url('../../assets//bg-boost-desktop.svg');
    }
}

